<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
</head>
<body>
    <h2>Create Group</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="group_name" placeholder="Enter Group Name" required><br><br>
        <button type="submit">Create Group</button>
    </form>
    
    <br>
    <a href="/dashboard/">Back to Dashboard</a>
</body>
</html>