<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

<h2>Group: {{ group.name }} Map</h2>

<form method="get">
    <input type="text" name="q" placeholder="Search by name/email/mobile">
    <button type="submit">Search</button>
</form>

<div id="map" style="height:500px; width:100%"></div>

<script>
    document.querySelector("form").addEventListener("submit", function(e){
    e.preventDefault();
    loadMarkers();
    });
    var map = L.map('map').setView([21.1702, 72.8311], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    var markers = {}; // store markers by student id

    var icons = {
        green: new L.Icon({iconUrl:'https://maps.google.com/mapfiles/ms/icons/green-dot.png'}),
        orange: new L.Icon({iconUrl:'https://maps.google.com/mapfiles/ms/icons/orange-dot.png'}),
        red: new L.Icon({iconUrl:'https://maps.google.com/mapfiles/ms/icons/red-dot.png'})
    };

    {% comment %} function loadMarkers() {
        var query = document.querySelector("input[name='q']").value;
        fetch(`/group/{{ group.id }}/locations/?q=${query}`)
            .then(res => res.json())
            .then(data => {

                data.locations.forEach(loc => {

                    var battery = parseInt(loc.battery);
                    var iconChoice = icons.green;
                    if (battery < 30) iconChoice = icons.red;
                    else if (battery < 60) iconChoice = icons.orange;

                    if (markers[loc.id]) {
                        // Update existing marker position and popup
                        markers[loc.id].setLatLng([loc.lat, loc.lng]);
                        markers[loc.id].setIcon(iconChoice);
                        markers[loc.id].bindPopup("<b>"+loc.name+"</b><br>Battery: "+loc.battery+"%<br>Updated: "+loc.updated);
                    } else {
                        // Create new marker if not exists
                        markers[loc.id] = L.marker([loc.lat, loc.lng], {icon: iconChoice})
                            .addTo(map)
                            .bindPopup("<b>"+loc.name+"</b><br>Battery: "+loc.battery+"%<br>Updated: "+loc.updated);
                    }

                });
            });
    } {% endcomment %}
     function loadMarkers() {
    var query = document.querySelector("input[name='q']").value;
    fetch(`/group/{{ group.id }}/locations/?q=${query}`)
        .then(res => res.json())
        .then(data => {

            // Remove markers that are no longer in data
            Object.keys(markers).forEach(id => {
                if (!data.locations.some(loc => loc.id == id)) {
                    map.removeLayer(markers[id]);
                    delete markers[id];
                }
            });

            data.locations.forEach((loc, index) => {
                var battery = parseInt(loc.battery);
                var iconChoice = icons.green;
                if (battery < 30) iconChoice = icons.red;
                else if (battery < 60) iconChoice = icons.orange;

                if (markers[loc.id]) {
                    markers[loc.id].setLatLng([loc.lat, loc.lng]);
                    markers[loc.id].setIcon(iconChoice);
                    markers[loc.id].bindPopup("<b>"+loc.name+"</b><br>Battery: "+loc.battery+"%<br>Updated: "+loc.updated);
                } else {
                    markers[loc.id] = L.marker([loc.lat, loc.lng], {icon: iconChoice})
                        .addTo(map)
                        .bindPopup("<b>"+loc.name+"</b><br>Battery: "+loc.battery+"%<br>Updated: "+loc.updated);
                }

                // Zoom to first search result
                if (query && index === 0) {
                    map.setView([loc.lat, loc.lng], 15); // zoom level 15
                    markers[loc.id].openPopup(); // optional: open popup
                }
            });

        });
}

    loadMarkers();
    setInterval(loadMarkers, 10000);
</script>

<script>
    function sendLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(pos => {
                navigator.getBattery().then(battery => {
                    fetch(`/group/{{ group.id }}/update-location/`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: JSON.stringify({
                            latitude: pos.coords.latitude,
                            longitude: pos.coords.longitude,
                            battery: Math.round(battery.level * 100)
                        })
                    });
                });
            });
        }
    }

    setInterval(sendLocation, 10000);
    sendLocation();
</script>

</body>
</html>
